@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400%27500,600,700,800,900.display=swap);
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #002408;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 50px;
  padding: 3px;
  min-height: 1000px;
  background: white; 
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
  border: 10px double black;
}

#size {
  font-size:small ;
}
.profile_text {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-bottom: 20px;
 border-bottom: 1px dotted rgba(255,255,255,0.2);
 font-weight: medium;

}

.contact_info {
  padding-top: 30px;
}
.contact_info.education li {
  margin-left: 20px;
}
.contact_info.education h5 {
  color: black;
  font-weight: 500;
}

.contact_info.education h4:nth-child(2) {
  color: black;
  font-weight: 500;
}
.contact_info.education h4 {
  color: black;
  font-weight: 300;
}

#place {
  font-size: small;
}
#school {
  font-size: small;
}

.title {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  margin: -30px 0 0 0 ;
  background: 50px #133A1B;
  border: 2px dotted white;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  font-family:  Tahoma;
}

.contact_info ul {
  position: relative;
  text-align: center;
}
.contact_info {
 background-color: #dff5ce;
 border-radius: 10px;
 margin: 30px;  
 padding: 10px; 
}


.contact_info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contact_info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 20px;
  color: black;
}

.contact_info ul li span {
  color: black;
  font-weight: 500;

}

.profile_text .imgbx {
 position: relative;
 width: 200px;
 height: 200px;
 border-radius: 50%;
 overflow: hidden;
 border: 8px double black;
 justify-content: center;
 margin-top: 40px;
 margin-bottom: 15px;
}

.profile_text .imgbx img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 
}

.profile_text h2 {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profile_text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.container .left_side {
  position: relative;
  background: #476930;
  padding: 2px;
  height: auto;
}

.contact_info.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: black;
  display: block;
  margin-top: 5px;

}
.contact_info.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: green;
}

.container .right_side {
  position: relative;
  background: #dff5ce;
  padding: 5px;
  height: auto;
  
}
.about {
  margin-bottom: 50px;
  background-color: #82AC85;   
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
  border: 5px double black;
}

.about:last-child {
  margin-bottom: 0;
}
.title2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -38px 0 0 20px;
  background: #133A1B;
  border: 2px solid black;
  padding: 10px;
  border-radius: 34px;
  text-align: center;
  
}

p {
  color: black;
}
.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.about .box .year_company {
  min-width: 150px;
}
.about .box .year_company h5 {
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  background-color: black;
  padding: 2px;
  margin: 5px;
  text-align: center;
  border-radius: 20%;
  
}
.about .box .text h4 {
text-transform: uppercase;
color: black;
font-size: 18px;
border-radius: 40px;
background-color: white;
text-align: center;
}
  
.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box h4 {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}
.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background:white;
}

.skills .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: black;
}
.interest ul {
  display: grid;
  grid-row: auto;
  margin: 10px;
  padding: 10px;
}
.interest ul li {
  list-style: none;
  color: black;
  font-weight: 500;
  margin: 10px 0;

}
.interest ul li .fa {
  color: black;
  font-size: 18px;
  letter-spacing: normal;
}


@media (max-width: 1000px)
{
  .container
  {
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
  }
  .interest ul
{
  grid-template-columns: repeat(2,1fr);
}}